@import 'kube';

/*
 * _mixins.scss
 */

$font_dir: '../fonts/';
//functions
@function _simple-font-url($name, $extension) {
    @return url($font_dir + $name + '-webfont.' + $extension);
}

@function _full-font-url($name, $extension, $format, $hash: '') {
    @return url($font_dir + $name + '/' + $name + '-webfont.' + $extension + $hash) format($format);
}

@mixin register-font($name) {
    @font-face {
        font-family: $name;
        font-style: normal;
        font-weight: normal;
        src: _simple-font-url($name, 'eot');
        src: _full-font-url($name, 'woff', 'embedded-opentype', '?#iefix'), _full-font-url($name, 'ttf', 'truetype'), _full-font-url($name, 'svg', 'esvg', '?#' + $name);
    }
}

@mixin use-registered-font($name) {
    font-family: $name, sans-serif;
    font-weight: normal;
    letter-spacing: 0;
}

@mixin placeholder($color: $input-color-placeholder) {
     :-moz-placeholder {
        color: $color;
    } // Firefox 4-18
     ::-moz-placeholder {
        color: $color;
    } // Firefox 19+
     :-ms-input-placeholder {
        color: $color;
    } // Internet Explorer 10+
     ::-webkit-input-placeholder {
        color: $color;
        padding: 2px;
    } // Safari and Chrome
}