@charset "UTF-8";
@import 'variables';
@import 'mixins';
@import 'kube';
@import 'font-awesome/font-awesome';
// Styles
*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    min-height: 100%;
    width: 100vw;
    max-width: 100%;
    box-sizing: border-box;
    text-size-adjust: 100%;
}

body {
    font-family: $body-font;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100%;
    background: url('../img/background-1.png') no-repeat left top;
    background-size: 100% auto;
}

header,
main,
footer {
    margin: 0 auto;
    padding: 0 10px;
    max-width: $page-max-width;
}

h1,
.h1 {
    font-family: $body-font;
    font-size: $font-size-bigger;
    font-weight: $font-weight-light;
    .introduction & {
        line-height: 1;
        margin: 0 40% 60px 0;
    }
}

h2 {
    .contact-information & {
        color: $dark-secondary;
        margin-top: -72px;
        font-family: $body-font;
        font-weight: $font-weight-bolder;
    }
    .products-item & {
        text-align: center;
        background-color: $dark-secondary;
        color: $light-primary;
        margin: 0 40px;
        padding: 5px 0;
        font-size: $font-size-normal;
    }
}

p {
    .introduction & {
        margin-right: 60%;
    }
    footer & {
        margin: 40px 0;
        color: $dark-primary;
    }
    .contact-information & {
        color: $dark-secondary;
    }
    .contacts & {
        margin-top: 50px;
        color: $light-primary;
        a {
            color: $light-primary;
            text-decoration: none;
            &:hover {
                color: $light-secondary;
            }
        }
    }
}

img {
    .introduction & {
        z-index: $z-over-content;
    }
}

button {
    @include button($light-primary,
    $dark-green);
    border-radius: 0;
    min-height: 30px;
    padding: 4px 15px;
    position: relative;
    &:hover {
        color: $dark-primary;
    }
    .contact-information-contents & {
        &:hover {
            background-color: $light-secondary;
            color: $dark-primary;
        }
    }
     :first-child {
        display: none;
    }
    &:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: -1px;
        right: -1px;
        border-left: 10px solid transparent;
        border-bottom: 30px solid $light-primary;
    }
    &:before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: -1px;
        left: -1px;
        border-left: 10px solid $light-primary;
        border-bottom: 30px solid transparent;
    }
}

nav {
    .introduction & {
        margin-top: 200px;
    }
    ul {
        margin: 0;
        padding: 0;
        display: inline-block;
        vertical-align: middle;
    }
    li {
        display: inline;
        margin-right: 30px;
        list-style: none;
        .introduction & {
            margin-right: 0;
            img {
                width: 95px;
                background-color: $dark-green;
                padding: 3px;
                opacity: .5;
                border: 1px solid $dark-green;
                cursor: pointer;
                &:hover {
                    opacity: .7;
                }
                &.active {
                    background-color: transparent;
                    opacity: 1;
                    cursor: default;
                }
            }
        }
    }
    a {
        text-decoration: none;
        header & {
            font-size: $font-size-big;
            color: $dark-primary;
            padding: 5px 20px;
            &:hover {
                color: $dark-secondary;
            }
        }
        footer & {
            color: $dark-secondary;
            &:hover {
                color: $dark-primary;
            }
        }
        &:hover {
            color: $dark-secondary;
        }
        &.active {
            background-color: $dark-secondary;
            color: $light-primary;
            &:hover {
                color: $dark-primary;
            }
        }
    }
}

form {
    margin-bottom: 0;
}

input {
    border: none;
    border-bottom: 1px solid $dark-primary;
    color: $dark-primary;
    .contact-information & {
        background-color: transparent;
        border-bottom: 1px solid $dark-secondary;
        color: $dark-secondary;
        margin-bottom: 40px;
    }
}

article {
    .introduction & {
        z-index: $z-over-page;
    }
}

.introduction {
    margin-top: 140px;
    padding: 0 50px 0;
    background: url('../img/mobile1.png') no-repeat right top;
    background-size: 70% auto;
    height: 650px;
}

.contact-information {
    margin: 50px 0;
    .contact-information-contents {
        padding: 40px;
        &.form {
            background-color: $light-green;
        }
        &.contacts {
            background-color: $dark-green;
        }
    }
}

.products {
    margin: 50px 0;
    .products-item {
        img {
            width: 100%;
        }
        ul {
            margin-left: 20px;
        }
        ul li:before {
            content: "_ ";
            font-weight: $font-weight-bolder;
            font-size: $font-size-big;
        }
    }
}

@include placeholder($dark-secondary);